{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <div {{ stimulus_controller('dynamic') }} data-action="test:refresh@window->dynamic#refresh">
    </div>

    <div {{ stimulus_controller('test') }}>
        <button data-action="click->test#refresh" class="btn btn-primary">Refresh</button>
    </div>

    <hr>

    <div {{ stimulus_controller('crud-list') }} data-action="filter-form:success->crud-list#refresh filter-form:reset->crud-list#reset" data-crud-list-list-url-value="{{ path('app_default_list') }}" data-crud-list-set-page-url-value="{{ path('app_default_setpage') }}">
        <form name="test" method="post" novalidate="novalidate"
              action="{{ path('app_default_filter') }}"
              {{ stimulus_controller('filter-form') }}
              data-filter-form-reset-url-value="{{ path('app_default_reset') }}"
              data-action="filter-form#onSubmit">
            {{ render(path('app_default_filter')) }}
        </form>

        <hr>

        <div data-crud-list-target="list"></div>
    </div>

{% endblock %}
